[Service]
User=username
Group=usergroup
ExecStart=/home/username/bots/wbot/wbot
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=WBOT
WorkingDirectory=/home/username/bots/wbot

Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
