[Service]
User=username
Group=usergroup
ExecStart=/home/username/bots/wbot_new/wbot_new
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=WBOT
WorkingDirectory=/home/username/bots/wbot_new

Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
